.card{
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	border-color: #1861ac;
	border-radius: 1em;
}

.avatar{
	width: 30%;
	padding-top: 2px;
	padding-bottom: 5px;
	padding-right: 10px;
}

.cardBody{
	display: flex;
	flex: 0 1 auto;
	width: auto;
	border-color: aqua;
}

.listgroup{
	display: flex;
	flex: 0 0 75%;
	width: auto;
}

.mr-2{
	display: flex;
	flex: 1 1 auto;
	width: 100%;
}

.editText{
	text-align: right;
	width: 100%;
}

.editFooter{
	text-align: right;
}

.modal{
	width: 100;
	display: block;
	opacity: 1;
}

.rounded{
	width: 60%;
	text-align: center;
	margin-inline: auto;
}